body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#candidates, #voting-form, #results {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

input[type="submit"] {
  margin-top: 10px;
}
